# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
db.sqlite3
media/
static/

# Frontend/Node
frontend/node_modules/
frontend/dist/
frontend/.env
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
